* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../assets/bg.jpg");
    background-size: cover;
}

.banner {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-end; /* pushes to bottom */
  justify-content: center;
  padding-bottom: 20px;
  box-sizing: border-box;
  overflow: hidden; /* hides extra image content */
  position: relative;
}

.banner .slider {
   position: absolute;
   width: 200px;
   height: 300px;
   top: 100%;
   left: calc(50% - 75px);
   transform-style: preserve-3d;
   /* animation: autorun 30s linear infinite; */
   transform: perspective(1000px);
   /* animation: autorun 20s linear infinite ease-in-out;
   -webkit-animation: autorun 30s linear infinite;
   -webkit-transform: perspective(1000px);
   -moz-transform: perspective(1000px);
   -ms-transform: perspective(1000px);
   -o-transform: perspective(1000px);
   -webkit-transform: rotate(90deg); */
  
   
}

.banner .slider .item {
    position: absolute;
    inset: 0;
    transform:
        rotateZ(calc((var(--position) - 1) * (360deg / var(--quantity)))) translateY(350px);
}


/* @keyframes autorun {
  from {
    transform: perspective(1000px) rotate(180deg);
    -webkit-transform: perspective(1000px) rotate(180deg);
    -moz-transform: perspective(1000px) rotate(180deg);
    -ms-transform: perspective(1000px) rotate(180deg);
    -o-transform: perspective(1000px) rotate(180deg);
}
  to {
    transform: perspective(1000px) rotateY(360deg);
  }
} */

.banner .slider .item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 2px 2px 20px 1px rgba(0, 255, 255, 0.3);
    transform: rotate(180deg);
    
    }